header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;

  .header-left {
    .title {
      color: $white;
      font-size: $fontXLarge;
      font-weight: $fontBold;
      margin-bottom: 14px;

      &.lightMode {
        color: $black;
      }
    }
    .subtitle {
      font-size: $fontSmall;
      font-weight: $fontBold;
      color: $toggleLight;

      &.lightMode {
        color: $darkGrayishBlue;
      }
    }
  }

  .header-right {
    .lightModeToggle {
      align-items: center;
      display: flex;
      span {
        font-weight: $fontBold;
        font-size: $fontSmall;

        &.lightMode {
          color: $darkGrayishBlue;
        }
      }
      .lightModeToggle-switch {
        background: $themeToggleBg;
        border-radius: 24px;
        height: 24px;
        margin-left: 14px;
        position: relative;
        width: 48px;

        .switch-circle {
          background-color: $black;
          border-radius: 100%;
          cursor: pointer;
          height: 18px;
          width: 18px;
          margin-top: 3px;
          margin-left: 4px;
          opacity: 0.8;
          transition: all 125ms ease-in-out;
          position: absolute;

          &.toggled {
            background-color: $white;
            right: 4px;
          }
        }
      }
    }
  }
}
