// Screen Sizes
$desktop: 1440px;
$tablet: 768px;
$mobile: 480px;

@mixin desktop {
  @media screen and (max-width: $desktop) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: $tablet) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: $mobile) {
    @content;
  }
}
