// Font Family
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

$fontInter: "Inter", sans-serif;

// Font Sizes
$fontXSmall: 11px;
$fontSmall: 14px;
$fontMedium: 16px;
$fontLarge: 20px;
$fontXLarge: 24px;
$fontXXLarge: 32px;
$fontXXXLarge: 42px;

// Font Weights
$fontRegular: 400;
$fontBold: 700;
